@import "../../index.scss";
.container {
    align-items: flex-start;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: left;
}

.backBtn {
    svg {
        margin-right: 5px;
    }
    margin: 30px 0 0 0;
    color: $admin-text-color;
}

.notify {
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 24px 0 0 0;

    div {
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: -0.011em;
        text-align: left;
    }
}

.info {
    background-color: white;
    border-radius: 8px;
    width: 100%;
    margin-top: 20px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 2px;
        right: 2px;
        height: 2px;
        border-radius: 2px;
    }

    &.food {
        &::before {
            background-color: $nutricion-color;
        }
    }

    &.activity {
        &::before {
            background-color: $activity-color;
        }
    }

    &.drugs {
        &::before {
            background-color: $drugs-color;
        }
    }

    .block {
        width: 100%;
        position: relative;
        button {
            width: 100%;
            justify-content: space-between;
            padding: 0 12px;
            min-height: 47px;
            font-weight: 500;

            svg {
                transform: rotate(270deg);
                transition: 0.25s;

                path {
                    stroke: #a0a0a0;
                    stroke-width: 2px;
                }

                &.active {
                    transform: rotate(360deg);
                }
            }
        }

        .infoBlock {
            padding: 0 12px;
            margin-bottom: 15px;
            overflow: hidden;

            transition: 0.25s height;

            p {
                &:first-child {
                    margin: 0;
                }

                margin: 10px 0 0 0;
            }

            .linkPreview {
                margin: 0 0 0 0;
            }

            .imgList {
                display: flex;
                margin: 24px 0 0 0;
                flex-direction: column;

                div {
                    margin-top: 12px;

                    &:first-child {
                        margin: 0;
                    }
                }

                .image{
                    max-width: none;
                }

                .imgCont{
                    width: 100%;
                    padding-bottom: 68%;
                }

            }

            .link {
                color: $tg-color;
                text-decoration: underline;
            }
        }

        &:last-child {
            &::after {
                display: none;
            }
        }

        &::after {
            content: "";
            position: absolute;
            left: 12px;
            right: 12px;
            height: 1px;
            background-color: #0000001a;
        }
    }
}


.fullFillBtn {
    width: 100%;
    margin: 12px 0 12px 0;

    position: relative;
    overflow: hidden;
    transform: translateZ(0);
    min-height: 51px;
    border-radius: 5px;


    span {
        z-index: 1;
        color: white;
    }

    &:before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0px;
        left: 0px;
        will-change: transform;
    }
    &.food {
        background: $nutricion-color;

        &::before {
            background-image: linear-gradient(270deg, $nutricion-color 30.44%, #ff976a 50.52%, $nutricion-color 100%);

            animation: bgMove 1s linear infinite;
        }
    }

    &.drugs {
        background: $drugs-color;

        &::before {
            background-image: linear-gradient(270deg, $drugs-color 30.44%, #00d797 50.52%, $drugs-color 100%);

            animation: bgMove 1s linear infinite;
        }
    }

    &.activity {
        background: $activity-color;

        &::before {
            background-image: linear-gradient(270deg, $activity-color 30.44%, #ae71ff 50.52%, $activity-color 100%);

            animation: bgMove 1s linear infinite;
        }
    }

    &.completed {
        background: #a9a9a9;

        &::before {
            background-image: linear-gradient(270deg, #a9a9a9 30.44%, #c9c9c9 50.52%, #a9a9a9 100%);

            animation: bgMove 1s linear infinite;
        }
    }
}

.closeBtn {
    margin: 24px 0 0 0;
    background-color: transparent;
    width: 100%;
    min-height: 51px;
    border-radius: 5px;

    &.food {
        color: $nutricion-color;
        border: 2px solid $nutricion-color;
    }

    &.drugs {
        color: $drugs-color;
        border: 2px solid $drugs-color;
    }

    &.activity {
        color: $activity-color;
        border: 2px solid $activity-color;
    }
}

@keyframes bgMove {
    0% {
        transform: translate3D(-100%, 0, 0);
    }
    100% {
        transform: translate3D(100%, 0, 0);
    }
}
