@import "../../index.scss";
.container {
    display: flex;
    padding-left: 16px;
    padding-right: 0;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    a {
        font-size: 16px;
        font-weight: 600;
        line-height: 19.36px;
        letter-spacing: -0.02em;
        text-align: center;
        display: flex;
        justify-content: flex-start;
        margin-right: 10px;
    }

    button {
        padding: 20px 16px;
        color: $tg-color;
        font-size: 17px;
        font-weight: 600;
        line-height: 20.57px;
        letter-spacing: -0.02em;
        text-align: center;
        max-width: 150px;
        text-align: left;
    }

    // div {
    //     &:first-of-type {
    //         display: flex;
    //         justify-content: flex-start;
    //         margin-right: 10px;

    //         button {
    //             font-size: 12px;
    //             line-height: 12px;
    //             @media (max-width: 425px) {
    //                 font-size: 10px;

    //                 font-weight: 600;
    //             }
    //         }
    //     }

    //     &:last-of-type {
    //         display: flex;
    //         justify-content: flex-end;
    //     }
    // }
}
