@import "../../index.scss";

.superContainer {
    position: absolute;
    top: 16px;
    left: 16px;
    bottom: 16px;
    right: 16px;
}
.container {
    position: absolute;

    width: 100%;
    height: 100%;
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 30px 16px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .block {
        position: relative;
        border-radius: 4px;
        padding-left: 8px;
        padding-right: 8px;

        &.food {
            background-color: #fff0ea;
        }

        &.drugs {
            background: #e0f8f1;
        }

        &.activity {
            background: #f3e9ff;
        }

        &:before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            bottom: 0;
            width: 4px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &.food {
            &:before {
                background-color: $nutricion-color;
            }
        }

        &.drugs {
            &:before {
                background: $drugs-color;
            }
        }

        &.activity {
            &:before {
                background: $activity-color;
            }
        }
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 51px;
        p {
            font-weight: 600;
        }
    }

    a {
        color: $nutricion-color;
        margin: 30px 0 0 0;
        .siteName {
            font-size: 12px;
            font-weight: 600;
            line-height: 18px;

            &.food {
                color: $nutricion-color;
            }

            &.drugs {
                color: $drugs-color;
            }

            &.activity {
                color: $activity-color;
            }
        }

        padding-top: 4px;

        p {
            color: $main-text-color;
            font-size: 14px;
            font-weight: 600;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
        }

        .img {
            position: relative;
            border-radius: 4px;
            height: 0;
            width: 100%;
            margin-top: 10px;

            padding-bottom: 53.7%;

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 4px;
                width: 100%;
                height: 100%;
            }
        }

        .watch {
            padding: 16px 0 12px 0;
            display: flex;
            justify-content: center;
            width: 100%;
            align-items: center;
            gap: 8px;

            letter-spacing: 0.03em;
            text-align: left;

            svg,
            path {
                color: inherit;
            }

            &.food {
                color: $nutricion-color;
            }

            &.drugs {
                color: $drugs-color;
            }

            &.activity {
                color: $activity-color;
            }
        }
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        min-height: 51px;
    }

    .fullFillBtn {
        width: 100%;
        margin: 45px 0 0 0;

        position: relative;
        overflow: hidden;

        span {
            z-index: 1;
            color: white;
        }
        &.food {
            background: $nutricion-color;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                background-image: linear-gradient(
                    270deg,
                    $nutricion-color 30.44%,
                    #ff976a 50.52%,
                    $nutricion-color 100%
                );

                transform: translateX(0);
                animation: bgMove 2s linear infinite;
            }
        }

        &.drugs {
            background: $drugs-color;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                background-image: linear-gradient(270deg, $drugs-color 30.44%, #00d797 50.52%, $drugs-color 100%);

                transform: translateX(0);
                animation: bgMove 2s linear infinite;
            }
        }

        &.activity {
            background: $activity-color;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                background-image: linear-gradient(270deg, $activity-color 30.44%, #ae71ff 50.52%, $activity-color 100%);

                transform: translateX(0);
                animation: bgMove 2s linear infinite;
            }
        }
    }

    .closeBtn {
        margin: 12px 0 0 0;
        background-color: transparent;

        &.food {
            color: $nutricion-color;
            border: 2px solid $nutricion-color;
        }

        &.drugs {
            color: $drugs-color;
            border: 2px solid $drugs-color;
        }

        &.activity {
            color: $activity-color;
            border: 2px solid $activity-color;
        }
    }
}

@keyframes bgMove {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translate(100%);
    }
}
