.container {
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 5px;
    position: fixed;
    top: 5px;
    right: 16px;
    transform: translateX(150%);
    transition: 0.5s linear;
    width: auto;
    max-width: 300px;

    &.active {
        transform: translateX(0);
    }

    &.positive {
        background: #2dc02d;
    }

    &.negative {
        background: #ed0000;
    }

    .closeBtn {
        height: 100%;
        width: 40px;
        height: 40px;
        color: white;
        font-size: 30px;
        font-weight: 400;
    }
}
