.container {
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 5px;
    position: fixed;
    top: 13px;
    right: 20px;
    left: 20px;
    transform: translateX(150%);
    transition: transform 0.5s linear;
    min-height: 41px;
    padding-left: 12px;
    &.active {
        transform: translateX(0);
    }

    &.positive {
        background: #00c187;
    }

    &.negative {
        background: #ff4949;
    }

    .closeBtn {
        height: 100%;
        width: 40px;
        height: 40px;
        color: white;
        font-size: 30px;
        font-weight: 400;
        flex: 0 0 auto;
    }
}
