
.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;

    transition: opacity 0.25s;
    opacity: 0;

    &.active {
        opacity: 1;

        transition:
            z-index 0.25s,
            opacity 0.25s;

        &:before {
            opacity: 0.5;
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        background-color: #000;
    }
}
