.swiper-css-mode > .swiper-wrapper {
    overflow: visible !important;
}

.datepicker.ios .datepicker-content {
    padding-top: 0 !important;
}

.datepicker {
    position: static !important;
    margin-top: 40px;
    background-color: white !important;
}

.datepicker.ios .datepicker-viewport::after {
    background: transparent !important;
}

.datepicker .datepicker-viewport {
    height: 417px !important;
}

.datepicker .datepicker-scroll li {
    font-weight: 400 !important;

    &:nth-of-type(1) {
        color: #d7d7d7 !important;
        transform: scale(0.6);
        transition: 0.5s linear !important;
    }

    &:nth-of-type(2) {
        color: #d7d7d7 !important;

        transform: scale(0.67);
        transition: 0.5s linear !important;
    }

    &:nth-of-type(3) {
        color: #d7d7d7 !important;

        transform: scale(0.73);
        transition: 0.5s linear !important;
    }

    &:nth-of-type(4) {
        color: #c2c2c2 !important;
        transform: scale(0.8);

        transition: 0.5s linear !important;
    }

    &:nth-of-type(5) {
        color: #b8b8b8 !important;
        // font-size: 28px !important;
        transform: scale(0.88);
        transition: 0.5s linear !important;
    }

    &:nth-of-type(6) {
        color: #16191c !important;

        font-size: 30px !important;
        transition: 0.5s linear !important;
    }

    &:nth-of-type(11) {
        color: #d7d7d7 !important;
        transform: scale(0.6);
        transition: 0.5s linear !important;
    }

    &:nth-of-type(10) {
        color: #d7d7d7 !important;

        transform: scale(0.67);
        transition: 0.5s linear !important;
    }

    &:nth-of-type(9) {
        color: #d7d7d7 !important;

        transform: scale(0.73);
        transition: 0.5s linear !important;
    }

    &:nth-of-type(8) {
        color: #c2c2c2 !important;
        transform: scale(0.8);

        transition: 0.5s linear !important;
    }

    &:nth-of-type(7) {
        color: #b8b8b8 !important;
        // font-size: 28px !important;
        transform: scale(0.88);
        transition: 0.5s linear !important;
    }
}
