@import "../../../index.scss";
.date-picker__week {
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition:
        opacity 0.25s linear,
        height 0.5s linear,
        margin 0.5s ease-out;

    transform: translate3d(0, 0, 0);

    height: 0;
    opacity: 0;
    margin: 0;

    & + .date-picker__week--show {
        margin: 0;
    }
}

.date-picker__week--show {
    height: 24px;
    opacity: 1;
    margin: 16px 0 0 0;
    transition:
        opacity 0.25s linear,
        height 0.5s linear,
        margin 0.5s ease-out;
    display: flex;
    justify-content: space-between;
    transform: translate3d(0, 0, 0);
    width: 100%;

    &:first-child {
        margin: 0;
    }
}

.date-picker__day {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: none;
    font-size: 14px;
    border-radius: 100%;
    cursor: pointer;
}

.date-picker__prev-month,
.date-picker__next-month {
    color: $additional-text-color;
}

.date-picker__day-selected {
    background: #ff4949;
    color: white;
}

.date-picker__week-days {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
    margin: 12px 0 0 0;
    transform: translateX(0);
    flex: 1 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.date-picker__hidden-el {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f6f6f6;
    transition: 0.5s;
    transform: translateX(-100%);
    position: absolute;
}

.date-picker__month-name {
    position: absolute;
    top: 50%;
    transform: translate3D(0, -50%, 0);

    width: 100%;

    display: flex;
    justify-content: center;
    transition: 0.25s ease-in-out;

    &.slide-next-start {
        transform: translate3D(-80%, -50%, 0);
    }

    &.slide-next {
        transform: translate3D(80%, -50%, 0);
    }

    &.slide-prev-start {
        transform: translate3D(80%, -50%, 0);
    }

    &.slide-prev {
        transform: translate3D(-80%, -50%, 0);
    }
}

.slide-enter {
    opacity: 0;
}

.slide-enter-active {
    opacity: 1;
    transition: opacity 500ms linear;
}

.slide-exit {
    opacity: 1;
}

.slide-exit-active {
    opacity: 0;
    transition: opacity 0ms;
}

//

.slide-month-next-enter {
    transform: translate3D(-100%, -50%, 0);
    transition: 250ms linear;
}

.slide-month-next-enter-active {
    transform: translate3D(0, -50%, 0);
    transition: 250ms linear;
}

.slide-month-next-exit {
    transform: translate3D(0, -50%, 0);
    transition: 250ms linear;
}

.slide-month-next-exit-active {
    transform: translate3D(100%, -50%, 0);
    transition: 250ms linear;
}

//

.slide-month-prev-enter {
    transform: translate3D(100%, -50%, 0);
    transition: 250ms linear;
}

.slide-month-prev-enter-active {
    transform: translate3D(0, -50%, 0);
    transition: 250ms linear;
}

.slide-month-prev-exit {
    transform: translate3D(0, -50%, 0);
    transition: 250ms linear;
}

.slide-month-prev-exit-active {
    transform: translate3D(-100%, -50%, 0);
    transition: 250ms linear;
}
