@import "../../../index.scss";
.date-picker__week {
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: 0.5s linear;

    &.app-date--from {
        opacity: 0;
        height: 0;
    }

    &.app-date--to {
        opacity: 1;
        height: 24px;
    }

    &.start {
        opacity: 1;
        height: auto;
    }
}

.date-picker__day {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: none;
    font-size: 14px;
    border-radius: 100%;
    cursor: pointer;
}

.date-picker__prev-month,
.date-picker__next-month {
    color: $additional-text-color;
}

.date-picker__day-selected {
    background: #ff4949;
    color: white;
}

.date-picker__week-days {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin: 12px 0 0 0;
    transform: translateX(0);
    flex: 1 0 auto;

    transition: none;

    transform: translateX(0);
}

.date-picker__hidden-el {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f6f6f6;
    transition: 0.5s;
    transform: translateX(-100%);
    position: absolute;
}
